<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Vyplň</h1>
    <form method="post">
        <label for="name">Name:</label><br>
        <input name="name" type="text" id="name"><br>

        <label for="class">Class:</label><br>
        <input name="input_class" type="text" id="class"><br>

        <label for="message">Message:</label><br>
        <textarea name="message" id="message"></textarea><br><br>

        <button id="hahaha">SUBMIT</button><br><br><br><br>



    </form>
    
</body>
</html>