.black{
    display: inline-block;
    background-color: black;
    height:300px;
    width:100px ;
    margin:300px;
}

.red{
    display: inline-block;
    background-color: red;
    height:80px;
    width:80px ;
    border-radius: 10000%;
    margin-left: 10px;
    margin-top: 10px;
}

.orange{
    display: inline-block;
    background-color: orange;
    height:80px;
    width:80px ;
    border-radius: 10000%;
    margin-left: 10px;
    margin-top: 10px;
}

.green{
    display: inline-block;
    background-color: green;
    height:80px;
    width:80px ;
    border-radius: 10000%;
    margin-left: 10px;
    margin-top: 10px;
}