@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Merriweather:wght@300&family=Patrick+Hand&display=swap');

*{
    box-sizing: border-box;
    font-family: "Merriweather",serif;
}

body{
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url("pizza-g22091accd_1920.jpg");
    background-size: cover;
    position: relative;
}

.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 16%;
    top: 2%;
}

.nav{
    font-size: 1.1em;
    text-align: center;
    width: 60%;
    position: absolute;
    left: 16%;
}

.nav li{
    display: inline-block;
    padding: 0 5%;
    font-weight: bold;
}

.nav a{
    text-decoration: none;
    color: white;
}

.main-header{
    font-size: 4.5vw;
    color: white;
    position: absolute;
    left: 8%;
    bottom: 20%;
    text-shadow: 0 0 10px black;
}

.subheading {
    color: white;
    position: absolute;
    left: 8%;
    bottom: 8%;
}

.subheading a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px;
    margin-right: 10px;
}

section {
    margin: 10vh 25vw;
}

section p {
    text-align: justify;
}
